<!-- <div class="contentWrapper" id="inner">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav nav-pills">
          <li><a routerLink="/main" routerLinkActive="active">HOME</a></li>
          <li><a routerLink="/formulario" routerLinkActive="active">FORMULÁRIO</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div> -->

<nav class="nav">
  <a class="nav-link active" routerLink="/main">Home</a>
  <a class="nav-link" routerLink="/formulario">Formulário</a>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>



